<button [routerLink]="['/webAnime']" routerLinkActive="router-link-active"  >Web Animations</button>
<button [routerLink]="['/scrollAnime']" routerLinkActive="router-link-active"  >Web Scroll Anime</button>
<button [routerLink]="['/Take-Tour']" routerLinkActive="router-link-active"  >Web Tour</button>
<button [routerLink]="['/heading']" routerLinkActive="router-link-active"  >Heading</button>
<button [routerLink]="['/snap-scroll']" routerLinkActive="router-link-active"  >Snap Scroll</button>
<button [routerLink]="['/motion-tracking']" routerLinkActive="router-link-active"  >Motion Tracking</button>

<router-outlet></router-outlet>