<div class="spacer" style="height:80vh;">Scroll Down</div>

<div class="cols2">
  <h1>hello</h1>
  <ul class="rotator">
    <li><span>Akapowl</span></li>
    <li><span>Jack</span></li>
    <li><span>Cassie</span></li>
    <li><span>Rodrigo</span></li>
    <li><span>Shaun</span></li>
    <li><span>Mitchel</span></li>
    <li><span>Craig</span></li>
    <li><span>SHRUG</span></li>
    <li><span>Carl</span></li>
    <li><span>Jonathan</span></li>
    <li><span>Sahil</span></li>
    <li><span>Zach</span></li>
    <li><span>Blake</span></li>
    <li><span>Diaco</span></li>
    <li><span>DIPSCOM</span></li>
  </ul>
</div>

<div class="spacer" style="height:80vh; margin-top:80px; margin-bottom:0">The Bottom</div>

<div class="brand" style="background:black; text-align:center;">
  <a href="https://www.creativecodingclub.com/bundles/creative-coding-club?src=scrollsnapcdpn" target="_blank">
    <img src="https://assets.codepen.io/32887/logo-ill.svg" width="300" alt="" />
  </a>
</div>
